<ng-container *ngIf="vw>640;else menuOpenedMobile">
    <div [ngClass]="{'active': isMenuOpened }" id="openedMenu" (click)="clickInsideMenu()">
        <div>
            <p><a routerLink="/home">{{ 'menu.home' | translate}}</a></p>
            <p><a routerLink="/gallery">{{ 'menu.gallery' | translate}}</a></p>
            <p><a routerLink="/shop">{{ 'menu.shop' | translate}}</a></p>
        </div>
        <p>{{ 'menu.menu' | translate }}</p>
    </div>
</ng-container>

<div id="menu-closer" *ngIf="vw>640 && isMenuOpened" (click)="switchMenuState()"></div>

<ng-template #menuOpenedMobile>
    <div [ngClass]="{'active': isMenuOpened }" id="openedMenuMobile">
        <p><a routerLink="/home">{{ 'menu.home' | translate}}</a></p>
        <p><a routerLink="/gallery">{{ 'menu.gallery' | translate}}</a></p>
        <p><a routerLink="/shop">{{ 'menu.shop' | translate}}</a></p>
    </div>
</ng-template>

<div class="app-padding" id="app-header">
    <a routerLink="/"><h1>ELLIOT MATHEY</h1></a>
    <div (click)="switchMenuState()" *ngIf="vw>640;else menuMobile" id="menu">
        <img src="../assets/medias/polaroid.png">
        <p>{{ 'menu.menu' | translate }}</p>
    </div>
    <ng-template #menuMobile>
        <div (click)="switchMenuState()" id="menuMobile" [ngClass]="{'active': isMenuOpened}">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </ng-template>
</div>

<div *ngIf="vw>640 && languages" class="app-padding" id="app-padding-left">
    <p id="LanguageSelector">
        <ng-container *ngFor="let language of languages; let languageIndex = index">
            <a (click)="changeLanguage(language.LanguageISO)">{{language.name}}</a>
            <span *ngIf="languageIndex < languages.length - 1"> · </span>
        </ng-container>
    </p>
</div>

<div *ngIf="vw>640" class="app-padding" id="app-padding-right">
    <a routerLink="legals">{{ 'legals.legals' | translate }}</a>
</div>

<ng-container *ngIf="vw>640">
    <div id="flash" [ngClass]="{'active' : isMenuOpened}"></div>
</ng-container>

<app-toaster></app-toaster>

<router-outlet></router-outlet>