@use '../styles.scss' as variables;

*{
    user-select: none;
}

.app-padding{
    background-color: variables.$colorSecondaryLight;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app-header{
    width: 100vw;
    height: variables.$paddingWidth;
    top: 0;
    left: 0;
}

#app-padding-left, #app-padding-right{
    height: 100vh;
    width: variables.$paddingWidth;
}
#app-padding-left{
    top: 0;
    left: 0;
}
#app-padding-right{
    top: 0;
    right: 0;
}

h1{
    font-family: 'Afterglow';
    color: variables.$colorPrimary;
    text-align: center;
    letter-spacing: 0.3vw;
    font-size: 3vh;
    cursor: pointer;
}

#LanguageSelector{
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

a{
    cursor: pointer;
    color: variables.$colorPrimary;
}
a:hover{
    opacity: 0.7;
}

#menuMobile>span{
    background-color: variables.$colorPrimary;
    height: 2px;
    width: 15px;
    margin: 3px;
    display: block;
}

#menuMobile{
    position: absolute;
    right: 5vw;
}

#menu{
    position: absolute;
    right: 9vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

#menu>img{
    height: 10vh;
}

#openedMenu{
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 4vw;
    right: 5vw;
    height: 18vw;
    width: 15vw;
    background-color: variables.$nearWhite;
    box-shadow: 1px 0px 15px black;
    font-family: "BestValentina";
    font-size: 2vw;
    transform: translateY(-19vw);
    transition-duration: 1.5s;
}

#openedMenu.active{
    transform: translateY(0vw);
}

#openedMenu>div{
    font-family: "BestValentina";
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: variables.$nearWhite;
    background-color: variables.$nearBlack;
    width: 13vw;
    height: 14vw;
    margin-top: 1vw;
}

#openedMenu>div>p{
    margin-left: 10px;
    opacity: 0;
    transition-duration: 0.8s;
    transition-delay: 1.5s;
}

#openedMenu.active>div>p{
    opacity: 1;
}

p{
    overflow: hidden;
}

#flash{
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    opacity: 0;
    z-index: -1;
}

#flash.active{
    animation-duration: 1.2s;
    animation-name: flash-photo;
}

@keyframes flash-photo {
    0% {
        opacity: 0;
        z-index: -1;
    }
    1% {
        opacity: 1;
        z-index: 99;
    }
  
    100% {
        opacity: 0;
        z-index: -1;
    }
  }