@use '../../styles.scss' as variables;

#vest{
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-image: url('/assets/medias/veste-elliot2.png');
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: 25%;
}
#picture{
    width: 100vw;
    height: 150vh;
    background-attachment: fixed;
    background-image: url('/assets/medias/picture.jpeg');
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: 25%;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: variables.$colorSecondaryLight;
    height: 55vh;
    width: 5vw;
    position: absolute;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.30);
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    font-size: 1.8rem;
    color: variables.$colorSecondary;
}

h2:nth-child(1){
    right: 35%;
    top: 150%;
}
h2:nth-child(2){
    left: 35%;
    top: 270%;
}

#test{
    display: flex;
    flex-direction: row;
    background-color: variables.$colorPrimaryFade;
}
#test>div{
    display: flex;
    justify-content: end;
    align-items: end;
    margin-top: 25vh;
    margin: 0;
    width: 25vw;
    height: 25vh;
    background-color: variables.$colorPrimaryLight;
    color: variables.$colorSecondary;
    font-size: 5vmin;
}
#test>div:nth-child(2){
    height: 75vh;
}
#test>div:nth-child(3){
    height: 125vh;
}
#test>div:nth-child(4){
    height: 175vh;
    padding-right: 5vw;
}

#content{
    background-color: variables.$colorPrimaryFade;
}

#h{
    width: 100vw;
    height: 100vh;
}