<div class="container">
    <h2>{{ 'legals.legals' | translate }}</h2>
    <div class="column">
        <div class="row">
            <div class="column">

                <h3>{{ 'legals.ower' | translate }}</h3>
                <p>{{ 'legals.ower-name' | translate }}</p>
                <p>{{ 'legals.ower-adress' | translate }}</p>
                <p>{{ 'legals.ower-zip' | translate }}</p>
                <p>{{ 'legals.ower-mail' | translate }}</p>
            </div>
            <div class="column">
                <h3>{{ 'legals.host' | translate }}</h3>
                <p>{{ 'legals.host-name' | translate }}</p>
                <p>{{ 'legals.host-adress' | translate }}</p>
                <p>{{ 'legals.host-zip' | translate }}</p>
                <p>{{ 'legals.host-link' | translate }}</p>

            </div>
        </div>
        <div>
            <h3>{{ 'legals.publications' | translate }}</h3>
            <p>{{ 'legals.publication-description' | translate }}</p>
        </div>
        
        <div>
            <h3>{{ 'legals.link' | translate }}</h3>
            <p>{{ 'legals.link-description' | translate }}</p>
        </div>
        
        <div>
            <h3>{{ 'legals.data' | translate }}</h3>
            <p>{{ 'legals.data-description' | translate }}</p>
        </div>
    </div>
</div>