<div class="container">
    <div *ngFor="let serie of series" class="photo-container">
        <div class="polaroid-container">
            <a [attr.href]=" 'gallery/' + serie.id">
                <div class="polaroid-photo" [ngStyle]="{'background-image': 'url(' + mediaEndpoint + serie.main_photo_file + ')'}" #photo (mouseenter)="setAnimation($event)" (mouseleave)="setAnimation($event)">
                    <div class="ombre">
        
                    </div>
                </div>
                <p>{{serie.title}}</p>
            </a>
        </div>
    </div>
</div>
