/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Afterglow";
    src: url("./assets/fonts/Afterglow.ttf");
}
@font-face {
    font-family: "Austria";
    src: url("./assets/fonts/Austria.otf");
}
@font-face {
    font-family: "BestValentina";
    src: url("./assets/fonts/Best-Valentina.otf");
}
// @import '~bootstrap/dist/css/bootstrap.min.css';

$colorPrimary: #9CAA9C;
$colorPrimaryFade: #BDCFBD;
$colorPrimaryLight: #CEDFCE;
$colorSecondaryLight: #EFEFDE;
$colorSecondary: #BD9A52;
$nearBlack: #202120;
$nearWhite: #EDEDED;

$paddingWidth: 4vw;

*, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Afterglow";
}

body{
    background-color: $colorPrimaryLight;
}

.d-none{
    display: none;
}