<div id="container" [ngClass]="{'position-right': position === 'right' }">
    <div id="photo-container">
        <div id="polaroid-container" [ngClass]="{'rotate-left': rotation, 'rotate-right': !rotation }">
            <div id="polaroid-photo" #photo (mouseenter)="setAnimation()" (mouseleave)="setAnimation()">
                <div id="ombre">
    
                </div>
            </div>
            <p>Costa Rica</p>
        </div>
    </div>
    <div id="text-container">
        <p>Wsh</p>
    </div>

</div>